<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container" style="text-align: center;">
      <h1>Playlist: {{.Playlist.Name}}</h1>
      <h2>Play random track</h2>
     <ul class="list-group">
      {{ range $i, $track := .Tracks.Items }}
        <li class="list-group-item" data-url="{{$track.Track.PreviewUrl}}">{{$track.Track.Name}}</li>
      {{ end }}
    </ul>

    </div> <!-- /container -->
    <div id="player">
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- START SOUND CODE V4.1 HTML5 -->
<script language="JavaScript" type="text/javascript">
<!--

// PLAYER VARIABLES

  $(".list-group-item").on("click",function(){
    var dataString = '<audio autoplay="autoplay">';
    dataString += '<source src="'+$(this).data('url')+'" type="audio/mpeg">' + '</audio>';
    $("#player").html(dataString);
    $(".list-group-item").removeClass("active");
    $(this).addClass("active");
  });
// var mp3snd = "/play/3/168";

// document.write('<audio autoplay="autoplay">');
// document.write('<source src="'+mp3snd+'" type="audio/mpeg">');
// document.write('<!--[if lt IE 9]>');
// document.write('<bgsound src="'+mp3snd+'" loop="1">');
// document.write('<![endif]-->');
// document.write('</audio>');

//-->
</script>
<br>
<!-- END SOUND CODE V4.1 -->

  </body>
</html>